.about-me {
  width: 100%;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/652/greyzz.png);
  border: 2px solid #004C85;
  outline: 5px solid #004C85;
  outline-offset: 10px;
  padding: 1em;
}
.about-me h2 {
  font-family: 'lemonmilkregular', sans-serif;
  text-align: center;
  font-size: 3em;
  margin: 0 auto;
  padding-bottom: 15px;
  color: #004C85;
}
#aboutPic{
  border: 5px solid #004C85;
  border-radius: 50%;
  box-shadow: 1px 1px 1px gray;
  width: 30%;
  display: block;
  margin: 0 auto;
}
#steam{
  margin: 0 auto;
  width: 100%;
}
.about-me p {
  text-align: justify;
  font-size: 15px;
  line-height: 1.5;
  padding-top: 20px;
  font-family: 'coolveticaregular', serif;
}
#sig{
  font-family: 'master_of_breakregular';
  font-size: 50px;
  color: #111;
  text-shadow: 0 1px 0 #222, 0 2px 0 #333, 0 3px 0 #444, 0 4px 0 #555, 0 5px 0 #666, 0 6px 0 #777, 0 7px 0 #888, 0 8px 7px #999;
}
#bf3{
  margin-top: 20px;
}
#steam{
  max-width: 495.5px;
  margin-top: 50px !important;
}
