.hovereffect {
    position:relative;
    overflow:hidden;
}

.overlay {
    position:absolute;
    top:0;
    right:35%;
    background:rgba(69, 184, 248, 0.75);
    width:30%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}
